.slider_container{width:100%;margin:auto;clear:both;padding:0;}
.flex-caption{position:absolute;right:0;bottom:0;}
.caption_title_line{width:450px;padding:5px 15px 10px 15px;background:#000;background:rgba(0, 0, 0, 0.7);color:#ffffff;text-align:left;}
.flex-caption h2{color:#ffffff;font-size:20px;padding:5px 0 5px 0;margin:0px;font-family:'Ovo', serif;font-weight:bold;text-align:left;}
.flex-container a:active,
.flexslider a:active{outline:none;}
.flex-caption p {color:#ffffff; font-size:14px;font-family: 'Noto Sans', sans-serif;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:none;}
.flexslider{width:100%;margin:0;padding:0 0 50px 0;}
.flexslider .slides > li{display:none;}
.flexslider .slides img{max-width:100%;display:block;}
.flex-pauseplay span{text-transform:capitalize;}
.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
.no-js .slides > li:first-child{display:block;}
.flexslider{position:relative;zoom:1;}
.flexslider .slides{zoom:1;}
.flexslider .slides > li{position:relative;}
.flex-container{zoom:1;position:relative;}
.flex-direction-nav li a{width:45px;height:100px;margin:0;display:block;position:absolute;cursor:pointer;font-size:55px;}
.flex-direction-nav li a.next{background-color:#ffffff;bottom:45%;right:0;opacity:0.5;padding-top: 16px;transition: 1s;}
.flex-direction-nav li a.prev{background-color:#ffffff;bottom:45%;left:0;opacity:0.5;padding-top: 16px;transition: 1s;}
.flex-direction-nav li a.next:hover{opacity:0.8;transition: 1s;}
.flex-direction-nav li a.prev:hover{opacity:0.8;transition: 1s;}
.flex-direction-nav li a.disabled{opacity:.3;filter:alpha(opacity=30);cursor:default;}
.flex-control-nav{width:100%;position:absolute;margin-top:10px;height:50px;text-align:center;}
.flex-control-nav li{margin:0 0 0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-nav li:first-child{margin:0;}
.flex-control-nav li a{width:13px;height:13px;display:block;cursor:pointer;}
.flex-control-nav li a:hover{background-position:0 -13px;}
.flex-control-nav li a.active{background-position:0 -26px;cursor:default;}
.flex-control-nav:after{clear:both;content:'';display:block;}
@media screen and (max-width:1000px){
.flex-caption{display:none;}
.flex-direction-nav li a.next{bottom:42%;}
.flex-direction-nav li a.prev{bottom:42%;}
}