#div_abs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#div_fix {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: #000000;
    z-index: 100;
}

.clear {
    clear: both;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

#exit {
    width: 22px;
    height: 22px;
    background: url('../css/admin/images/icn_logout.png') no-repeat center center;
}

/* Special table */

table.special-table {
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}

.special-table {
    width:100%;
}

.special-table td {
    border:1px solid #CCCCCC; 
    padding:7px 5px 7px 6px;
    display:table-cell;
}

.special-table th {
    border:1px solid #CCCCCC;
    text-align:left;
    padding:10px 5px 10px 6px;
    font-weight:bold;
}
/* Special table */

.left_label {
    padding: 4px 10px 4px 5px;
}

.right_input input, .right_input select {
    width: 500px;
}

.item_order {
    min-height:25px;
}