html{min-height:100%;position:relative;}
.img-holder img{width:100%;}

.all_post .article{
    margin:10px 0 20px ;
    padding-bottom:20px;
    border-bottom:1px solid #cccccc;
}

.article-hitem {
    font-size:large;
}

.flexslider{
    margin:30px auto 0;
}

a.prev, a.next{
    text-align: center;
}
.rubrica {
    padding:10px 0;
}
.rubrica, .rubrica a {
    color:#333;
}

.rubrica a {
    text-decoration:underline;
}

.logo img {
    width:100%;
}
.logo label {
    font-size:27px; line-height:1.5;color:#1a75bc;
}
.logo label a{text-decoration:none;}
.logo label a:hover{color:#1a75bc;text-decoration:none;}
.top{padding:7px 0;}
p.pagination a {
    color: #999;
    font-size: 16px;
    padding: 9px;
    border: 1px solid #E2E6E7;
    text-align: center;
    cursor:pointer;
}

p.pagination a:hover {
    color: #FFF;
    border: 1px solid #226da7;
    background-color: #1a75bc;
}

p.pagination span {
    color: #999;
    font-size: 16px;
    padding: 9px;
    border: 1px solid #E2E6E7;
    text-align: center;
}

#popular a{cursor:pointer;text-decoration:underline;}

p.pagination strong {
    font-size: 16px;
    padding: 9px;
    border: 1px solid #226da7;
    text-align: center;
    color: #FFF;
    background-color: #1a75bc;
}
.wrapper{padding-bottom:60px;}
footer{height:50px;bottom:0;position:absolute;width:100%; padding-top:10px;background-color:#1a75bc;color:#ffffff;}
.top-navbar{background-color:#1a75bc;color:#ffffff;}
.top-navbar.navbar-default .navbar-nav>li>a {color: #fff;}
@media (max-width:500px){.logo label{font-size:large;}
h1{font-size:x-large;}
footer{height:130px;}
.wrapper{padding-bottom:140px;}
}