.upload-link{
	margin-bottom: 10px;
}
.upload-item{
	font-size: 13px;
	line-height: 17px;
	color: #444444;
	padding: 5px;
	margin-bottom: 10px;
}
.upload-item .cancel{
	font-size: 13px;
	margin-left: 5px;
}
.upload-item .size{
	margin-left: 5px;
}
.upload-frame{
	border: none;
	display: block;
	float: left;
	height: 27px;
	overflow: hidden;
	padding: 0;
	width: 56px;
}
.browse-upload,.cancel-upload {
    display:inline-block;
	border-left:1px solid #dfdfdf;
	border-right:1px solid #acacac;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #acacac;
	background:url(../images/bg_button2.jpg) repeat-x center center;
	color:#626262;
	text-align:center; 	
	padding: 4px 7px;
	cursor: pointer;
	text-decoration: none;
	font-size: 13px;
	line-height: 1.3;
}
.browse-upload{
	position: relative;
	overflow: hidden;
	width: 40px;
}
.cancel-upload{
	margin-left: 10px;
}
.browse-upload input{
	font-size: 2000px;
	height: 2000px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	opacity: 0;
	
}
.upload-button, span.attach {
    display:inline-block;
	text-align:center;    
	color:#fff;
	cursor: pointer;
	background: #037a06;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2d0a2), color-stop(100%,#a2d0a2));
    background: -moz-linear-gradient(center top, #a2d0a2 0%, #037a06 100%);
    -webkit-box-shadow: 0px -5px 15px #a2d0a2 inset, 0px 0px 0px 1px #a2d0a2, 0px 0px 0px 1px #a2d0a2 inset;
    -moz-box-shadow: 0px -5px 15px #037a06 inset, 0px 0px 0px 1px #a2d0a2, 0px 0px 0px 1px #037a06 inset;
    box-shadow: 0px -5px 15px #037a06 inset, 0px 0px 0px 1px #a2d0a2, 0px 0px 0px 1px #037a06 inset;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*text-shadow: 1px 1px 0px #037a06;*/
    padding: 7px 20px;
    display: inline-block;
	line-height: 1.3;
	text-decoration: none;
}
.upload-button:hover, span.attach:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e0b8), color-stop(100%,#a2d0a2));
    background: -moz-linear-gradient(center top, #b8e0b8 0%, #0f9a12 100%);
    -webkit-box-shadow: 0px -5px 15px #a2d0a2 inset, 0px 0px 0px 1px #a2d0a2, 0px 0px 0px 1px #a2d0a2 inset;
    -moz-box-shadow: 0px -5px 15px #b8e0b8 inset, 0px 0px 0px 1px #b8e0b8, 0px 0px 0px 1px #b8e0b8 inset;
    box-shadow: 0px -5px 15px #0f9a12 inset, 0px 0px 0px 1px #b8e0b8, 0px 0px 0px 1px #0f9a12 inset;
	color: #ffffff;
}
.upload-button:active, span.attach:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cb99), color-stop(100%,#a2d0a2));
    background: -moz-linear-gradient(center top, #99cb99 0%, #186d1a 100%);
    -webkit-box-shadow: 0px -5px 15px #a2d0a2 inset, 0px 0px 0px 1px #a2d0a2, 0px 0px 0px 1px #a2d0a2 inset;
    -moz-box-shadow: 0px -5px 15px #99cb99 inset, 0px 0px 0px 1px #99cb99, 0px 0px 0px 1px #99cb99 inset;
    box-shadow: 0px -5px 15px #186d1a inset, 0px 0px 0px 1px #99cb99, 0px 0px 0px 1px #186d1a inset;
	color: #ffffff;
}
.upload-submit{
	height:25px;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #acacac;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #acacac;
	background:url(../images/bg_button2.jpg) repeat-x center center;
	color:#626262;
	cursor: pointer;
}
.upload-loading{
	display: inline-block;
	background: url(../images/loading.gif) no-repeat 0 0;
	height: 15px;
	width: 15px;
	vertical-align: middle;
}
.upload-info{
	font-size: 13px;
	line-height: 1.3;
	color: #444444;
	margin: 5px 0;
}
.upload-info .item{
	margin-bottom: 5px;
}
.drop-upload{
	height: 30px;
	border: 1px dashed #1096E6;
	text-align: center;
	color: #1096E6;
	line-height: 29px;
	font-size: 13px;
	background: #E1F1FD;
}
.modal-full{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	overflow: auto;
}
.modal-o{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000;
}
.modal-w{
	display: inline-block;
	min-width: 500px;
	padding: 10px;
	/* position: relative; */
	/* top: 200px; */
	/* margin: 0 auto; */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	-webkit-box-shadow: 0 0 30px #505050;
	-moz-box-shadow: 0 0 30px #505050;
	box-shadow: 0 0 30px #505050;
	
	background: #ffffff;
	text-align: center;
	vertical-align: bottom;
	margin: 150px auto;
}
.modal-close{
	cursor: pointer;
	float: right;
	color: #b1b8b0;
	font-size: 20px;
	font-weight: bold;
}
.modal-close:hover{
	color: #000000;
}
.modal-in{
	background: #ffffff;
	padding: 20px 10px;
}
.hide{
	display: none;
}
.upload_button_single input{
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	font-size: 2000px;
	float: right;
	height: 2000px;
	position: absolute;
	top: 0; 
	right: 0;
}
.files{
	padding: 5px 5px 10px;
	border: 1px dashed #444444;
}
.files .attachments{
	font-size: 13px;
}
.files .info{
	margin-bottom: 10px;
	font-size: 15px;
}
.files .info .count{
	font-weight: bold;
}
.files .item{
	margin-bottom: 10px;
}
.files .item .icon{
	display: inline-block;
	height: 35px;
	width: 45px;
	vertical-align: middle;
}
.files .item .size{
	color: #666666;
	font-size: 13px;
	margin-left: 5px;
}
.files .item .actions a{
	font-size: 13px;
}
.i-file_icon{
	background: url(../images/file_types.png) no-repeat 0 0;
}
.i-def {
    background-position: -140px 0;
}
.i-image, .i-bmp, .i-gif, .i-jpg, .i-jpeg, .i-png, .i-tif, .i-psd, .i-psp, .i-svg {
    background-position: -105px -35px;
}
.i-doc, .i-docx, .i-wpd, .i-wps, .i-rtf {
    background-position: -70px -70px;
}
.i-xls, .i-xlsx, .i-xlsb, .i-xlsm {
    background-position: -35px -105px;
}
.i-ppt, .i-pptx, .i-pps, .i-ppsx {
    background-position: 0 -140px;
}
.i-pdf {
    background-position: -140px -175px;
}
.i-txt, .i-log {
    background-position: -105px -210px;
}
.i-audio, .i-mp3, .i-ram, .i-midi, .i-wav, .i-ogg, .i-aiff, .i-flac, .i-m4a, .i-wma {
    background-position: 0 -315px;
}
.i-video, .i-avi, .i-mpeg, .i-mp4, .i-asf, .i-mov, .i-3gp, .i-mpg, .i-wmv, .i-flv {
    background-position: -140px -350px;
}
.i-zip, .i-rar, .i-7z, .i-arj, .i-gz, .i-bzip2, .i-zipz, .i-bz2 {
    background-position: -35px -455px;
}
.files .item:last-child{
	margin-bottom: 0px;
}